*{
    margin: 0%;
    padding: 0%;
}


@font-face {
    font-family: 'DiastemaBold';
    src: url(fuentes/DiastemaBold.ttf);
}

@font-face {
    font-family: 'DiastemaRegular';
    src: url(fuentes/Diastema\ Regular.ttf);
}

@font-face {
    font-family: 'Fontspring';
    src: url(fuentes/Fontspring-DEMO-magdelin-light.ttf);
}

@font-face {
    font-family: 'Sinoreta';
    src: url(fuentes/sinoretapersonaluseregular-ezdel.ttf);
}

h1{
    font-family: 'DiastemaBold';
    font-size: 70px;
    color: rgb(51, 93, 70);
    padding-top: 3%;
    text-align: center;
}


body{
    background-color:rgb(186, 182, 182);
}


.fotoarco{
    display:block;
    margin: 0px auto;
}


.qes{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   padding-left: 15%;
   padding-right: 15%;
   padding-bottom: 2%;
   font-size: medium;
   text-align: left;
   color: rgb(3, 3, 3);
}



.inf{
    font-family: 'Fontspring';
    padding-bottom: 5%;
    text-align: center;
    color: rgb(75, 96, 63);
}

.banco{
    background-color: snow;
    width: 400px;
    height: 250px;
    align-items: center;
    justify-content:center;
    position: relative;
    top: 40px;
    left: 7px;
}
.MP{
    background-color: snow;
    width: 400px;
    height: 200px;
    align-items: center;
    justify-content:center;
    position: relative;
    top: 80px;
    left: 7px;

}

.ft{
    width: 400px;
    height: 200px;
    align-items: center;
    justify-content:center;
    position: relative;
    top: 120px;
    left: 7px;


}

h3{
    text-align: center;
    color: rgb(38, 145, 145);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}